/* Modal Layout */
.modal-dialog.modal-verification.modal-dialog-centered {
  max-width: 900px !important;
}

/* Table */
#view-order .table-view-order {
  margin: 15px 15px 15px 15px;
}

#view-order .table-view-order .ant-table-wrapper .ant-table-thead > tr > th {
  color: #ffff;
  font-weight: 500;
  background-color: #183383;
}

#view-order
  .table-view-order
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0;
}

#view-order .ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:last-child {
  border-start-end-radius: 0;
}

#view-order .table-view-order .table-head-wrapper {
  margin-bottom: 20px;
}

#view-order .table-view-order .ant-table-fixed {
  table-layout: fixed;
}

#view-order .table-view-order .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #dcdcdc;
}

#view-order .table-view-order .ant-table-tbody > tr > td {
  word-wrap: break-word;
  word-break: break-word;
}

#view-order .table-striped-rows tr:nth-child(even) td {
  background-color: #ffff;
}

#view-order .table-striped-rows tr:nth-child(odd) td {
  background-color: #e4e9f7;
}

/* Filter Search */

#view-order .filter-search {
  width: 370px;
}

#view-order input.filter-ltr.form-control {
  height: 45px !important;
  padding-left: 35px !important;
}

#view-order .filter-search .search-icon {
  float: left;
  margin-left: 11px;
  margin-top: -30px;
  position: relative;
}

#view-order .form-control.p-0.css-b62m3t-container {
  z-index: 99 !important;
  border: none !important;
}

@media screen and (max-width: 1200px) {
  #view-order .filter-search {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  #view-order .form-control.p-0.css-b62m3t-container {
    width: 100% !important;
  }
}
